@use "../abstracts/" as *;

.about-section {
	position: relative;
	height: 50vh;
	isolation: isolate;
	@include flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding-inline: 3rem;
}

.about-section::after {
	content: "";
	padding-block: 10em;
	background-image: linear-gradient(
		100deg,
		#e9ecefff,
		#dee2e6ff,
		#ced4daff,
		#adb5bdff
	);
	background-size: cover;
	position: absolute;
	top: -10vh;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: skewY(4deg);
}

// --------------ABOUT CONTAINER----------------------------

.about__container--finger {
	width: 7rem;
	height: 7rem;
	padding-top: 2rem;
}

.about__container--block {
	padding-top: 2rem;
	max-width: 30rem;
	font-family: "IBM Plex Mono", monospace;
}

.about__container--text {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.about__container--hash {
	font-size: 1rem;
	font-weight: bold;
}

// --------------MEDIA QUERIES------------------------------------

@media (max-width: 750px) {
	.about-section {
		height: 80vh;
		@include flex(column, 2rem);
		justify-content: space-between;
		padding-block: 8rem;
		text-align: center;
	}
}

@media (max-width: 400px) {
	.about-section {
		height: 80vh;
		@include flex(column, 2rem);
		justify-content: space-between;
		padding-block: 8rem;
		text-align: center;
	}
	.about__container--finger {
		width: 5rem;
		height: 5rem;
	}

	.about__container--text {
		font-size: 0.8rem;
	}

	.about__container--hash {
		font-size: 0.8rem;
	}
}

@media (max-height: 700px) {
	.about-section {
		height: 110vh;
	}
}
