@use "../abstracts/" as *;

.about-section {
	position: relative;
	height: 50vh;
	isolation: isolate;
}

.about-section::after {
	content: "";
	padding-block: 10em;
	background-image: linear-gradient(
		100deg,
		#e9ecefff,
		#dee2e6ff,
		#ced4daff,
		#adb5bdff
	);
	background-size: cover;
	position: absolute;
	top: -10vh;
	left: 0;
	right: 0;
	bottom: 0;
	transform: skewY(5deg);
}

// --------------ABOUT CONTAINER----------------------------

.about__container--finger {
	position: absolute;
	z-index: 1;
	left: 5rem;
	top: 45%;
	width: 8rem;
	height: 8rem;
}

.about__container--block {
	z-index: 1;
	position: absolute;
	right: 5rem;
	bottom: 4rem;
	max-width: 30rem;
	font-family: "IBM Plex Mono", monospace;
}

.about__container--text {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.about__container--hash {
	font-size: 1rem;
	font-weight: bold;
}

// --------------MEDIA QUERIES------------------------------------

@media (max-width: 840px) {
	.about-section {
		height: 80vh;
	}
	.about__container--finger {
		top: 12rem;
		left: 50%;
		transform: translateX(-50%);
	}

	.about__container--block {
		right: 50%;
		transform: translateX(50%);
		bottom: 10rem;
		text-align: center;
		width: 50rem;
	}
}

@media (max-width: 500px) {
	.about__container--finger {
		top: 20%;
	}
	.about__container--block {
		bottom: 8rem;
		max-width: 80vw;
	}
}
