@use "../abstracts/" as *;

.contact-section {
	position: relative;
	height: 70vh;
	isolation: isolate;
}

.contact-section::after {
	content: "";
	padding-block: 5em;
	background-image: linear-gradient(
		315deg,
		#dee2e6ff,
		#ced4daff,
		#adb5bdff,
		#6c757dff
	);
	background-size: cover;
	position: absolute;
	top: -1rem;
	left: 0;
	right: 0;
	bottom: 0;
	transform: skewY(5deg);
}

// --------------CONTACT TITLE----------------------------

.contact__container {
	position: absolute;
	top: 5rem;
	left: 5rem;
	z-index: 1;
	@include flex(column, 2rem);
	&--title {
		font-family: "Bruno Ace SC", cursive;
		font-size: 3.5rem;
	}
}

.contact__details {
	@include flex(column, 2rem);
	&--block {
		span {
			font-size: 2rem;
			font-family: "Bruno Ace SC", cursive;
		}
		p {
			font-size: 1.5rem;
			font-family: "IBM Plex Mono", monospace;
		}
	}
}

// --------------CONTACT LOGO------------------------------
.contact-circle {
	position: absolute;
	right: 20rem;
	bottom: 10%;
	z-index: 1;
	width: 30rem;
	height: 30rem;
	border-radius: 50%;
	background-color: $strong-bg;
	box-shadow: 120px 150px 400px $mid-pattern, inset 20px 40px 120px $mid-pattern;
	&--small {
		position: absolute;
		right: -2rem;
		bottom: 0;
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		background-color: $strong-bg;
		box-shadow: -20px -50px 100px $mid-pattern,
			inset 10px 20px 60px $mid-pattern;
	}
}
