@use "../abstracts/" as *;

.contact-section {
	position: relative;
	isolation: isolate;
	@include flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding-inline: 4rem;
	padding-bottom: 12rem;
}

.contact-section::after {
	content: "";
	padding-block: 5em;
	background-image: linear-gradient(
		315deg,
		#dee2e6ff,
		#ced4daff,
		#adb5bdff,
		#6c757dff
	);
	background-size: cover;
	position: absolute;
	top: -1rem;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: skewY(5deg);
}

// --------------CONTACT TITLE----------------------------

.contact__container {
	@include flex(column, 2rem);
	&--title {
		font-family: "Bruno Ace SC", cursive;
		font-size: 3.5rem;
	}
}

.contact__details {
	@include flex(column, 2rem);
	&--block {
		h3 {
			font-size: 2rem;
			font-family: "Bruno Ace SC", cursive;
		}
		p {
			font-size: 1.5rem;
			font-family: "IBM Plex Mono", monospace;
		}
	}
}

// --------------CONTACT LOGO------------------------------

.contact-logo {
	width: 9rem;
	height: 9rem;
}

// --------------MEDIA QUERIES------------------------------------

@media (max-width: 1000px) {
	.contact__container {
		&--title {
			font-size: 2.5rem;
		}
	}
}
@media (max-width: 800px) {
	.contact-section {
		@include flex(column, 0);
		padding-top: 3rem;
		padding-bottom: 15rem;
	}
	.contact__container {
		@include flex(column, 2rem);
		align-items: center;
		&--title {
			font-size: 2rem;
		}
	}

	.contact__details {
		@include flex(column, 2rem);
		text-align: center;
		margin-bottom: 3rem;
		&--block {
			span {
				font-size: 1.7rem;
				font-family: "Bruno Ace SC", cursive;
			}
			p {
				font-size: 1.5rem;
				font-family: "IBM Plex Mono", monospace;
			}
		}
	}

	.contact-logo {
		width: 6rem;
		height: 6rem;
	}
}

@media (max-width: 500px) {
	.contact-section {
	}
	.contact__container--title {
		font-size: 1.3rem;
	}

	.contact__details {
		gap: 3rem;
		&--block {
			h3 {
				font-size: 2rem;
				margin-bottom: 1rem;
			}
			p {
				font-size: 0.9rem;
			}
		}
	}
}
