@use "../abstracts/" as *;

.header-section {
	position: relative;
	height: 100vh;
	isolation: isolate;
	z-index: 1;
}

.header-section::after {
	content: "";
	height: 120vh;
	background-image: linear-gradient(
		315deg,
		#dee2e6ff,
		#ced4daff,
		#adb5bdff,
		#6c757dff
	);
	position: absolute;
	z-index: -1;
	top: -10vh;
	left: 0;
	right: 0;
	bottom: 0;
	transform: skewY(-5deg);
}

// --------------NAV BAR--------------------------------

.nav-section {
	@include flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.nav__logo img {
	width: 5rem;
	height: 5rem;
}

.nav__links {
	@include flex(row, 3rem);
	list-style: none;
	cursor: pointer;
	&::before {
		@include pseudo-line(8.5rem, 0);
		margin-top: 0.5rem;
		margin-right: -1rem;
		background-color: $secondary-text;
		animation: header-nav-line 4s ease-in-out 0s 1 normal;
	}
	li a {
		font-size: 1rem;
		font-family: "IBM Plex Mono", monospace;
		font-weight: bolder;
		letter-spacing: 0.3rem;
		text-decoration: none;
		color: $secondary-text;
		&:hover,
		&:focus {
			color: $mid-pattern;
		}
	}
}

@keyframes header-nav-line {
	from {
		opacity: 0;
		transform: translateX(30vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

// --------------HOME TEXT----------------------------------

.home-text {
	position: absolute;
	left: 15rem;
	top: 7rem;
	z-index: 3;
	width: 25rem;
	font-family: "IBM Plex Mono", monospace;
	p {
		font-size: 1rem;
		letter-spacing: 0.1rem;
		margin-bottom: 1rem;
	}
}

// --------------HOME TITLE--------------------------------

.home__title {
	position: absolute;
	left: 15rem;
	bottom: 15rem;
	z-index: 3;
	user-select: none;
	text-shadow: 2px 2px 6px $strong-pattern;
	&--hello,
	&--developer {
		font-size: 2rem;
	}
	h1 {
		font-size: 5rem;
		letter-spacing: 0.3rem;
		font-family: "Bruno Ace SC", cursive;
	}
}

.home__title--hello::after {
	@include pseudo-line(4rem, 0.5rem);
	margin-left: 1rem;
	background-color: $secondary-text;
	animation: hello-line 4s ease-in-out 0s 1 normal;
}

.home__title--developer::before {
	@include pseudo-line(4rem, 0.5rem);
	margin-right: 1rem;
	background-color: $secondary-text;
	animation: developer-line 4s ease-in-out 0s 1 normal;
}

@keyframes hello-line {
	from {
		opacity: 0;
		transform: translateX(-20vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes developer-line {
	from {
		opacity: 0;
		transform: translateX(30vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

// --------------HOME SPHERE--------------------------------

.home-sphere {
	position: absolute;
	right: 20vw;
	bottom: 10%;
	width: 40rem;
	height: 40rem;
	border-radius: 50%;
	background-color: $strong-bg;
	box-shadow: 120px 150px 400px $mid-pattern, inset 20px 40px 120px $mid-pattern;
	&__logo {
		margin-top: 20rem;
		margin-left: 20rem;
		img {
			width: 20rem;
			height: 20rem;
		}
	}
}

// --------------SCROLL DOWN-----------------------------------

.home-scroll {
	position: absolute;
	left: 15rem;
	bottom: 3rem;
	@include flex(column, 0.5rem);
	&__span {
		font-size: 1.2rem;
		font-family: "IBM Plex Mono", monospace;
	}
	img {
		// margin-left: -0.9rem;
		width: 1.5rem;
		height: 1.5rem;
	}
}

// --------------SOCIAL NAV------------------------------------

.social__nav {
	position: absolute;
	right: 2rem;
	bottom: 8rem;
	ul {
		@include flex(column, 7rem);
		list-style: none;
	}
	ul li {
		width: 4rem;
		height: 4rem;
		padding: 0.7rem;
		border-radius: 50%;
		img {
			width: 100%;
			filter: invert(10%);
			-webkit-filter: invert(10%);
			cursor: pointer;
			transition: all 2s ease-in-out;
		}
	}
}

.social__nav--block::after {
	@include pseudo-line(2px, 0);
	height: 3rem;
	margin-top: 0.5rem;
	margin-left: 50%;
	background-color: $secondary-text;
	transition: all 0.4s ease-in-out;
}

.social__nav--block:hover::after {
	height: 5rem;
}

// --------------MEDIA QUERIES------------------------------------

@media (max-width: 1400px) {
	.home-text {
		left: 5rem;
		top: 9rem;
	}

	.home__title {
		left: 5rem;
	}

	.home-sphere {
		right: 10vw;
	}

	.home-scroll {
		left: 5rem;
	}
}

@media (max-width: 1100px) {
	.home-sphere {
		right: 10vw;
		bottom: 43%;
		width: 20rem;
		height: 20rem;

		&__logo {
			margin-top: 11rem;
			margin-left: 13rem;
			img {
				width: 7rem;
				height: 7rem;
			}
		}
	}
}

@media (max-width: 800px) {
	.nav__links {
		gap: 1.5rem;
	}

	.nav__links::before {
		display: none;
	}

	.home-sphere__logo {
		display: none;
	}

	.social__nav {
		right: 3rem;
		bottom: 3rem;
		ul {
			@include flex(row, 3rem);
		}
	}

	.social__nav--block::after {
		display: none;
	}

	.social__nav--block:hover::after {
		height: 5rem;
	}
}
