@use "../abstracts/" as *;

.projects-section {
	position: relative;
	height: 80vh;
	isolation: isolate;
	@include flex(row, 3rem);
	justify-content: space-between;
	align-items: flex-start;
	padding-inline: 4rem;
	padding-bottom: 10rem;
}

.projects-section::after {
	content: "";
	padding-block: 10em;
	background-image: linear-gradient(
		100deg,
		#e9ecefff,
		#dee2e6ff,
		#ced4daff,
		#adb5bdff
	);
	background-size: cover;
	position: absolute;
	top: -10vh;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: skewY(5deg);
}

// --------------PROJECTS CONTAINER------------------------------

.projects__main-container {
	align-self: center;
	@include flex(column, 2rem);
	justify-content: center;
	align-items: center;
}

.project-block {
	@include flex(row, 1rem);
	width: 40rem;
	&__img {
		width: 70rem;
		height: 10rem;
		overflow: hidden;
		border-radius: 5px;
		margin: 5px;
		border: 2px $mid-pattern solid;
		box-shadow: 5px 5px 20px grey;
		img {
			width: 100%;
			height: 100%;
			opacity: 0.25;
			transition: 2s ease-out;
			&:hover,
			&:focus {
				transform: scale(2);
				opacity: 1;
			}
		}
	}
}

.project-block__text {
	@include flex(column, 0.2rem);
	justify-content: space-between;
	width: 80rem;
	&--title {
		font-size: 1.5rem;
		font-family: "Bruno Ace SC", cursive;
	}
	&--description {
		max-width: 40rem;
		font-family: "IBM Plex Mono", monospace;
		font-size: 0.8rem;
		letter-spacing: 0.02rem;
	}
	&--span {
		font-size: 0.9rem;
		font-weight: bold;
	}
	&--buttons {
		@include flex(row, 1.5rem);
		button {
			font-family: "Bruno Ace SC", cursive;
			border: none;
			background-color: transparent;
			color: $strong-pattern;
			cursor: pointer;
			transition: transform 0.4s ease-in-out;
			&:hover,
			&:focus {
				transform: scale(1.2);
			}
		}
	}
}

// --------------PROJECTS HEADER------------------------------

.projects__header {
	align-self: center;
	width: 40rem;
	&--title {
		font-size: 5rem;
		font-family: "Bruno Ace SC", cursive;
		margin-bottom: 2rem;
	}
	&--text {
		width: 20rem;
		font-size: 1rem;
		line-height: 1.5rem;
		font-family: "IBM Plex Mono", monospace;
	}
}

// --------------PROJECTS LOGO------------------------------

.projects-logo {
	position: absolute;
	z-index: 2;
	bottom: 3rem;
	right: 8rem;
	width: 10rem;
	height: 10rem;
}

// --------------MEDIA QUERIES------------------------------------

@media (max-width: 1500px) {
	.projects__header--title {
		font-size: 3rem;
	}
}

@media (max-width: 1150px) {
	.projects-section {
		height: 110vh;
		@include flex(column-reverse, 0);
		padding-bottom: 13rem;
	}

	.projects__header {
		text-align: center;
		&--text {
			margin-inline: auto;
		}
	}

	.projects-logo {
		bottom: 2rem;
		right: 3rem;
		width: 7rem;
		height: 7rem;
	}
}

@media (max-width: 700px) {
	.projects-section {
		height: 140vh;
		padding-bottom: 7rem;
	}
	.project-block {
		@include flex(column, 1.5rem);
		align-items: center;
		width: 90%;
		&__img {
			width: 20rem;
		}
	}

	.project-block__text {
		gap: 1rem;
		width: 20rem;
		text-align: center;
		&--buttons {
			@include flex(row, 1.5rem);
			justify-content: center;
		}
	}

	.projects__header {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.projects__header {
		width: 80vw;
	}

	.projects__header--title {
		font-size: 3em;
		margin-bottom: 0.5rem;
	}

	.projects__header--text {
		font-size: 1.2em;
		width: 100%;
	}

	.project-block {
		&__img {
			width: 15rem;
			height: 8rem;
		}
	}

	.projects-section {
		padding-bottom: 12rem;
	}
}

@media (max-width: 350px) {
	.project-block {
		@include flex(column, 1.5rem);
		align-items: center;
		width: 85vw;
		&__img {
			width: 15rem;
		}
	}

	.project-block__text {
		gap: 1rem;
		width: 15rem;
		text-align: center;
		&--buttons {
			@include flex(row, 1.5rem);
			justify-content: center;
		}
	}
}

// @media (max-height: 1400px) {
// 	.projects-section {
// 		height: 90vh;
// 	}
// }

@media (max-height: 1400px) {
	.projects-section {
		height: 70vh;
	}
}

@media (max-height: 1200px) {
	.projects-section {
		height: 90vh;
	}
}

@media (max-height: 1000px) {
	.projects-section {
		height: 110vh;
	}
}

@media (max-height: 900px) {
	.projects-section {
		height: 120vh;
	}
}

@media (max-height: 750px) {
	.projects-section {
		height: 160vh;
	}
}

@media (max-height: 660px) {
	.projects-section {
		height: 180vh;
	}
}

// @media (max-height: 750px) {
// 	.projects-section {
// 		height: 180vh;
// 	}
// }
