@use "../abstracts/" as *;

.skills-section {
	position: relative;
	height: 100vh;
	isolation: isolate;
	z-index: 1;
}

.skills-section::after {
	content: "";
	height: 120vh;
	background-image: linear-gradient(
		315deg,
		#dee2e6ff,
		#ced4daff,
		#adb5bdff,
		#6c757dff
	);
	position: absolute;
	z-index: -1;
	top: -10vh;
	left: 0;
	right: 0;
	bottom: 0;
	transform: skewY(-5deg);
}
