@use "../abstracts/" as *;

.skills-section {
	position: relative;
	height: 80vh;
	isolation: isolate;
	@include flex(row, 0);
	justify-content: space-between;
	align-items: center;
	padding-inline: 3rem;
	padding-block: 6rem;
}

.skills-section::after {
	content: "";
	background-image: linear-gradient(
		315deg,
		#dee2e6ff,
		#ced4daff,
		#adb5bdff,
		#6c757dff
	);
	background-size: cover;
	position: absolute;
	top: -1rem;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: skewY(3deg);
}

// --------------SKILLS TITLE------------------------------

.skills__title {
	max-width: 30rem;
	align-self: start;
	&--h2 {
		font-size: 5rem;
		line-height: 7rem;
		font-family: "Bruno Ace SC", cursive;
	}
}
// --------------SKILLS LOGO------------------------------

.skills__title--logo {
	position: absolute;
	z-index: 2;
	top: 8rem;
	left: 33rem;
	width: 10rem;
	height: 10rem;
}

// --------------SKILLS LIST------------------------------

.skills__container {
	align-self: end;
	@include flex(row, 0);
	justify-content: space-between;
	text-align: end;
	&--h3 {
		font-size: 2rem;
		font-family: "Bruno Ace SC", cursive;
	}
}

.skills__container--list {
	list-style: none;
	font-size: 1.3rem;
	line-height: 2.5rem;
	font-family: "IBM Plex Mono", monospace;
	font-weight: bold;
	li::before {
		@include pseudo-line(5rem, 0);
		margin-right: 0.3rem;
		background-color: $light-pattern;
	}
}

// --------------MEDIA QUERIES------------------------------------

@media (max-width: 1300px) {
	.skills__title--h2 {
		font-size: 3rem;
		line-height: 5rem;
	}

	.skills__title--logo {
		position: absolute;
		z-index: 2;
		top: 7rem;
		left: 20rem;
		width: 7rem;
		height: 7rem;
	}
}

@media (max-width: 1300px) {
	.skills-section {
		height: 100vh;
		@include flex(column, 2rem);
		justify-content: center;
		padding-inline: 3rem;
		padding-bottom: 5rem;
		padding-top: 0;
	}

	.skills__title {
		max-width: 30rem;
		position: relative;
		&--logo {
			position: absolute;
			z-index: 2;
			top: 1rem;
			left: 17rem;
			width: 7rem;
			height: 7rem;
		}
	}
}

@media (max-width: 600px) {
	.skills-section {
		padding-inline: 1rem;
	}

	.skills__title {
		align-self: center;
		&--h2 {
			font-size: 2rem;
			line-height: 3rem;
		}
		&--logo {
			left: 11rem;
			width: 4rem;
			height: 4rem;
		}
	}

	.skills__container {
		align-self: center;
		text-align: center;
		&--span {
			font-size: 1.2rem;
			color: $strong-pattern;
		}
	}

	.skills__container--list {
		list-style: none;
		font-size: 1rem;
		line-height: 2.5rem;
		li::before {
			@include pseudo-line(2rem, 0);
			margin-right: 0.3rem;
			background-color: $light-pattern;
		}
		li::after {
			@include pseudo-line(2rem, 0);
			margin-right: 0.3rem;
			background-color: $light-pattern;
		}
	}
}

@media (max-width: 400px) {
	.skills-section {
		height: 120vh;
	}

	.skills__title {
		text-align: center;
		&--h2 {
			font-size: 1.5rem;
			line-height: 2.5rem;
		}
		&--logo {
			top: -5rem;
			left: 50%;
			transform: translateX(-50%);
			width: 4rem;
			height: 4rem;
		}
	}

	.skills__container {
		@include flex(column, 2rem);
	}
}

@media (max-height: 750px) {
	.skills-section {
		height: 135vh;
	}
}

@media (max-height: 700px) {
	.skills-section {
		height: 140vh;
	}
}
