$strong-bg: rgba(206, 212, 218, 1);
$light-pattern: rgba(173, 181, 189, 1);
$mid-pattern: rgba(108, 117, 125, 1);
$strong-pattern: rgba(73, 80, 87, 1);
$secondary-text: rgba(52, 58, 64, 1);
$primary-text: rgba(33, 37, 41, 1);
